<mat-form-field [appearance]="appearance">
  <mat-label>{{ placeholder }}</mat-label>
  <mat-select>
    <!-- matInput inside mat-option which will be used to do the filtering -->
    <!-- by subscribing to "filterFormControl.valueChanges.subscribe" -->
    <mat-option disabled="true">
      <mat-form-field [floatLabel]="'always'" fxFill>
        <input
          matInput
          [placeholder]="searchPlaceholder"
          [formControl]="filterFormControl"
        />
        <button
          matSuffix
          mat-icon-button
          aria-label="company"
          (click)="filterFormControl.setValue('')"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </mat-option>
    <!-- When items will be called by template we are sure that items is an observable -->
    <!-- async pipe will do the subscription -->
    <mat-option *ngFor="let item of items | async" [value]="item[bindValueKey]">
      <span>{{ item[bindLabelKey] }}</span>
    </mat-option>
  </mat-select>
</mat-form-field>
