<mat-form-field [appearance]="appearance">
<mat-label>{{placeholder}}</mat-label>
<mat-select [formControl]="filterFormControl">
  <mat-optgroup>
    <mat-form-field [floatLabel]="'always'" fxFill>
      <input matInput [placeholder]="searchPlaceholder" [formControl]="filterFormControl">
      <button matSuffix mat-icon-button aria-label="company" (click)="filterFormControl.setValue('')">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
    <mat-option disabled="true" style="display: none"></mat-option>
  </mat-optgroup>


  <div *ngIf="items | async as retrievedItems else waitingResponse">
    <mat-option *ngFor="let item of retrievedItems" [value]="item[bindValueKey]">
      <span>{{item[bindLabelKey]}}</span>
    </mat-option>
  </div>

  <ng-template #waitingResponse>
    <mat-option disabled="true">Please Wait...</mat-option>
  </ng-template>


</mat-select>
</mat-form-field>
